{% form_theme form with '@OperaAdmin/bootstrap_3_layout.html.twig' %}

{{ form_start(form, { attr: { action: path('opera_admin_pages_block_edit', {id: block.id}) } }) }}
{{ form_row(form.name) }}

{% if form.configuration is defined %}
<div class="form-group">
    {{ form_widget(form.configuration) }}
</div>
{% endif %}

<button type="submit" class="btn btn-primary action-save">
    <i class="fa fa-save"></i> {{ 'action.save'|trans }}
</button>

<a href="{{ path('opera_admin_pages_block_delete', { id: block.id }) }}" class="text-danger action-delete">
    {{ 'action.delete'|trans }}
</a>

{{ form_end(form) }}

<style>
.form-group .form-group {
    clear: both;
    padding: 0;
}
    .form-group{
        display: block;
    }
</style>
