{% extends [
    easyadmin_config('design.templates.layout'),
    '@EasyAdmin/default/layout.html.twig'
    ] %}

{% block page_title -%}
    {% trans from 'OperaAdmin' %}Manage pages{% endtrans %}
{%- endblock %}

{% block content_title %}
    {% trans with { '%page%': page.title } from 'OperaAdmin' %}Layout for page %page%{% endtrans %}
{% endblock %}

{% block main %}
    <div class="row">
        <div id="layout" class="col-4" style="padding-top: 14px">
            {% for name in page.layout.configuration.areas %}
                <label class="droppable area area-{{ name }} {% if (loop.first and (area is not defined or area == '')) or area == name %}active{% endif %}"
                       for="area_{{ name }}" ondrop="dropZone(event)" ondragover="dragoverZone(event)"
                       data-area-name="{{ name }}"
                       >
                    <input type="radio" id="area_{{ name }}" name="current_area" value="{{ name }}"
                           {% if (loop.first and (area is not defined or area == '')) or area == name %}checked{% endif %}/>
                    {{ name }}
                </label>
            {% endfor %}
        </div>

        <div id="blocks" class="col-8">
            {% include "@OperaAdmin/admin_pages/_new_block.html.twig" %}

            {% for name in page.layout.configuration.areas %}
                <div id="tab_area_{{ name }}" class="tab_area"
                     data-update-position-url="{{ path('update_positions', { id: page.id, area: name }) }}"
                     {% if (loop.first and (area is not defined or area == '')) or area == name %}style="display: block"{% endif %}>
                    <h2>{% trans with { '%area%': name } from 'OperaAdmin' %}Blocks of %area%{% endtrans %}</h2>

                    {% if blocks_in_area[name] is defined %}
                        <ul class="sortable">
                            {% for _block in blocks_in_area[name] %}
                                <li class="row block-row"
                                data-block-id="{{ _block.id }}"
                                draggable="true"
                                ondragend="dragEnd(event)"
                                ondragstart="dragStart(event)"
                                ondragover="dragOver(event)"
                                ondragleave="dragLeave(event)"
                                ondrop="drop(event)"
                                ondragenter="dragEnter(event)"
                                data-area="{{ _block.area }}">
                                    <div class="field-group">
                                        <div class="box-header with-border sort-handle">
                                            <h3 class="box-title" style="display: inline-block">
                                                {{ _block.name }} (type: {{ _block.type }})
                                            </h3>
                                            <div class="d-flex flex-row-reverse bd-highlight">
                                                <a class="pull collapsed" role="button" data-toggle="collapse"
                                                   aria-expanded="false" href="#box-body-{{ _block.id }}">
                                                    <i class="fa pull-right" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="box-body collapsed collapse" id="box-body-{{ _block.id }}"
                                             aria-expanded="false">
                                            <div class="row">
                                                <div class="col-12 form-renderer">
                                                    {{ render(controller(block_controller, {
                                                        'block': _block,
                                                        'page': page,
                                                    })) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {% trans from 'OperaAdmin' %}Empty area{% endtrans %}
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>

    {# TODO exetenalize #}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        .sortable {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        [data-toggle="collapse"] .fa:before {
            content: "\f139";
        }
        ​
        [data-toggle="collapse"].collapsed .fa:before {
            content: "\f13a";
        }

        .sortable li {
            margin: 10px;
            margin-top: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-left: 0px;
            display: block;
        }

        .col-4 {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 30px;
            padding-top: 35px;
        }

        .d-flex {
            display: contents !important;
        }
    </style>
    <script>
        function copyHiddenInputToAceEditor() {
            var all = $(".ace_editor");

            for (var i = 0; i < all.length; i++) {
                var element = all[i];
                var input = $(element).parent().next('input[type=hidden]');
                element.env.editor.setValue(input.val());
            }
        }

        var dragging = null;

            function dropZone(ev) {
                if (dragging.dataset.area == ev.target.children[0].value) {
                    alert("Block is already in area " + ev.target.children[0].value);
                    return;
                }
                
                $.ajax({
                    type: "POST",
                    url: "/admin/pages/block/"+dragging.dataset.blockId+"/change-area/"+ev.target.children[0].value,
                    success: function (data) {
                        $(".sortable").removeClass('loading');
                        dragging.remove();
                        sendPositions(true);
                    }
                });
            }

            function dragoverZone(ev) {
                ev.preventDefault();
            }

            function dragStart(ev) {
                dragging = event.target;
                $('.current-dragged-item').removeClass('current-dragged-item');
                 dragging.classList.add('current-dragged-item');
            }

            function sendPositions(reload = false) {

                var positions = {};

                $('.tab_area:visible .sortable > li').each(function (index, element) {
                    positions[$(element).data('block-id')] = index;
                });

                if (!Object.keys(positions).length) {
                    return;
                }
                $(".sortable").addClass('loading');
                $.ajax({
                    type: "POST",
                    url: $('.tab_area:visible').data('update-position-url'),
                    data: {positions: positions},
                    success: function (data) {
                        $(".sortable").removeClass('loading');
                        if (reload) {
                            location.reload();
                        }
                    }
                });
            }

            function dragEnd(ev) {
                sendPositions();
                $('.current-droppable').each((pos, el) => {
                    el.classList.remove("current-droppable");
                })
            }

            function dragOver() {
                event.preventDefault();
                target = event.target;
                if (!event.target.classList.contains("block-row")) {
                    target = event.target.closest(".block-row");
                }
                targetted = target;
                target.style['border-bottom'] = 'solid 4px blue';
            }

            function dragLeave() {
                target = event.target;
                if (!event.target.classList.contains("block-row")) {
                    target = event.target.closest(".block-row");
                }

                target.style['border-bottom'] = '';
            }

            function drop() {
                event.preventDefault();
                target = event.target;
                if (!event.target.classList.contains("block-row")) {
                    target = event.target.closest(".block-row");
                }
                target.style['border-bottom'] = '';
                target.parentElement.insertBefore(dragging, target.nextSibling);
            }

            function dragEnter() {
                target = event.target;
                if (!event.target.classList.contains("block-row")) {
                    target = event.target.closest(".block-row");
                }

                target.style['border-bottom'] = 'solid 4px blue';
                $('.droppable').each((pos, el) => {
                    if (!el.classList.contains("active")) {
                        el.classList.add("current-droppable");
                    }
                });
            }

        $(document).ready(function () {

            copyHiddenInputToAceEditor();

            $("#new_block_area").val($("[name=current_area]:checked")[0].value);

            $('[name=current_area]').on('change', function () {
                console.log('[name=current_area] ONCHANGE');
                $('.tab_area').hide();
                $('.area.active').removeClass('active');
                $("[name=current_area]:checked").parent('label').addClass('active');
                $("#tab_area_" + $("[name=current_area]:checked")[0].value).show();
                $("#new_block_area").val($("[name=current_area]:checked")[0].value);
            });

            var formListener = function (e) {
                e.preventDefault();
                $('.tab_area form').off('submit', formListener);

                var form = this;
                $(this).addClass('loading');

                // CKEDITOR
                if (typeof CKEDITOR !== "undefined") {
                    for (var instanceId in CKEDITOR.instances) {
                        CKEDITOR.instances[instanceId].element.$.value = CKEDITOR.instances[instanceId].getData();
                    }
                }

                // ACE EDITOR
                var all = $(this).find(".ace_editor");
                var hiddenField = $(this).find('.hidden_code');

                for (var i = 0; i < all.length; i++) {
                    if (all[i].env && all[i].env.editor) {
                        code = all[i].env.editor.getValue();
                        if (code && hiddenField) {
                            hiddenField.val(code);
                        }
                    }
                }


                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        $(form).removeClass('loading');
                        $(form).parents('.box').find('.box-title').html($(data).find('#form_name').val());
                        $(form).parents('.form-renderer').html(data);

                        $('.tab_area form').on('submit', formListener);
                        copyHiddenInputToAceEditor();
                    }
                });
            };

            $('.tab_area form').on('submit', formListener);
        });
    </script>
    <style>
        #layout {
            display: grid;
            margin: 0 auto;

            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat({{ page.layout.configuration.layout|length }}, 40px);
            grid-gap: 1em;

            grid-template-areas: {% for layout in page.layout.configuration.layout %}"{{ layout }}"{% endfor %}
        }

        .area {
            background: lightgrey;
            border: 1px solid lightgrey;
            min-height: 50px;
            padding: 1em;
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }

        .loading {
            opacity: 0.6;
        }

        .area.active {
            background: white;
        }

        .area input {
            position: absolute;
            left: -3000px;
        }

        .tab_area {
            display: none;
        }

        {% for alias, name in page.layout.configuration.areas %}
        .area-{{ name }} {
            grid-area: {{ alias }};
        }

        .sortable li {
            margin: unset;
            margin-top: unset;
            margin-right: unset;
            margin-bottom: unset;
            margin-left: unset;
        }

        .current-dragged-item .field-group .box-header.with-border {
            background-color: #e3e7ed;
        }

        .current-droppable {
            border-color: blue;
        }

        {% endfor %}
    </style>
{% endblock %}
